@function alloc($size: 1, $fill_value: 0) {
  $result: (0);
  $i: 1;
  @while $i < $size {
    // use join() to double the array size in one loop iteration if possible
    @if $i * 2 < $size {
      $result: join($result, $result);
      $i: $i * 2;
    }
    // use append() to fill the rest
    @else {
      $result: append($result, $fill_value);
      $i: $i + 1;
    }
  }
  @return $result;
}

@function fill($src: (), $fill_value: 0) {
  @for $i from 1 through length($src) {
    $src: set-nth($src, $i, $fill_value);
  }
  @return $src;
}